In [4]:
## Range in Python -> The range() function in Python is used to generate a sequence of numbers. It is commonly used in for-loops to iterate over a sequence of numbers.

## The range() function can be called with one, two, or three arguments:

# One Argument: Generates numbers from 0 to the specified number (exclusive)

for i in range(5):
    print(i)
# Output: 0, 1, 2, 3, 4

# Two Arguments: Generates numbers from the first argument to the second argument (exclusive).

for i in range(3, 6):
    print(i)
# Output: 3, 4, 5

# Three Arguments: Generates numbers from the first argument to the second argument (exclusive) with a specified step.

for i in range(2, 10, 2):
    print(i)
# Output: 2, 4, 6, 8

## Negative Steps -> You can also use negative steps to generate a sequence in reverse order.

for i in range(5, 0, -1):
   print(i)
# Output: 5, 4, 3, 2, 1

0
1
2
3
4
3
4
5
2
4
6
8
5
4
3
2
1

In [2]:
## for loop

for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [6]:
## String example for example 
name = "Naman"

for i in name:
    print(i)

N
a
m
a
n

In [7]:
## while loop -> The while loop continues to execute as long as the condition is True

count = 0

while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [8]:
## Loop Control Statements

# break -> The break statement exits the loop permaturely

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [9]:
# continue -> The continue statement skips the current iteration and continues with the next.

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [ ]:
# pass -> The pass statement is a null operation; it does nothing.

for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [11]:
## Nested loops -> A loop inside another loop 

for i in range(3):
    for j in range(2):
        print(f"i: {i} and j: {j}")

i: 0 and j: 0
i: 0 and j: 1
i: 1 and j: 0
i: 1 and j: 1
i: 2 and j: 0
i: 2 and j: 1

In [12]:
## Examples- Calculate the sum of first N natural numbers using a while and for loop


n=10   
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1

print("Sum of first 10 natural number:",sum)

Sum of first 10 natural number: 55

In [13]:
# Using for loop

n=10   
sum=0
for i in range(11):
    sum=sum+i

print(sum)

55

In [14]:
## Example- Prime numbers between 1 and 100

for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97